## LOB Cuskit Launch impacted by Covid-19 Cases
New cases, deaths and etc

## DATA SOURCE
https://ourworldindata.org/covid-cases

In [1]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt

df = pd.read_csv('data/owid-covid-data.csv')

In [2]:
#Removing unnecessary columns 
df.drop(['total_cases','new_cases_smoothed','total_deaths','new_deaths_smoothed','total_cases_per_million','new_cases_per_million','new_cases_smoothed_per_million','total_deaths_per_million','new_deaths_per_million','new_deaths_smoothed_per_million','icu_patients_per_million','hosp_patients_per_million','weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million','total_tests','new_tests','total_tests_per_thousand','new_tests_per_thousand','new_tests_smoothed','new_tests_smoothed_per_thousand','tests_per_case','tests_units','total_vaccinations','new_vaccinations','new_vaccinations_smoothed','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','new_vaccinations_smoothed_per_million','new_people_vaccinated_smoothed','new_people_vaccinated_smoothed_per_hundred','stringency_index','median_age','aged_65_older','aged_70_older','gdp_per_capita','cardiovasc_death_rate','diabetes_prevalence','female_smokers','male_smokers','handwashing_facilities','hospital_beds_per_thousand','life_expectancy','human_development_index','excess_mortality_cumulative_absolute','excess_mortality_cumulative','excess_mortality','excess_mortality_cumulative_per_million','iso_code','continent'], axis = 1, inplace = True)

#Defining unnecessary rows
removedRows = ["Africa","Albania","Algeria","Andorra","Angola","Anguilla","Antigua and Barbuda","Aruba","Asia","Azerbaijan","Bahamas","Bahrain","Barbados","Belize","Benin","Bermuda","Bolivia","Bonaire Sint Eustatius and Saba","Bosnia and Herzegovina","Botswana","British Virgin Islands","Bulgaria","Burkina Faso","Burundi","Cameroon","Cape Verde","Cayman Islands","Central African Republic","Chad","Comoros","Congo","Costa Rica","Cote d'Ivoire","Croatia","Cuba","Curacao","Cyprus","Democratic Republic of Congo","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Eswatini","Ethiopia","Europe","European Union","Faeroe Islands","Falkland Islands","French Polynesia","Gabon","Gambia","Georgia","Ghana","Gibraltar","Greenland","Grenada","Guatemala","Guernsey","Guinea","Guinea-Bissau","Guyana","Haiti","High income","Honduras","Iceland","International","Iran","Iraq","Isle of Man","Israel","Jamaica","Jersey","Jordan","Kenya","Kosovo","Kuwait","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Low income","Lower middle income","Macao","Madagascar","Malawi","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Micronesia (country)","Monaco","Montenegro","Montserrat","Morocco","Mozambique","Namibia","New Caledonia","Nicaragua","Niger","Nigeria","Niue","North America","North Macedonia","Northern Cyprus","Oceania","Oman","Palestine","Panama","Paraguay","Pitcairn","Qatar","Romania","Rwanda","Saint Helena","Saint Kitts and Nevis","Saint Lucia","Saint Pierre and Miquelon","Saint Vincent and the Grenadines","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Sint Maarten (Dutch part)","Slovenia","Somalia","South America","South Sudan","Sudan","Suriname","Syria","Tanzania","Togo","Tokelau","Trinidad and Tobago","Tunisia","Turkmenistan","Turks and Caicos Islands","Uganda","Ukraine","United Arab Emirates","Upper middle income","Uruguay","Uzbekistan","Vatican","Wallis and Futuna","World","Yemen","Zambia","Zimbabwe"]

In [3]:
df

,location,date,new_cases,new_deaths,reproduction_rate,icu_patients,hosp_patients,positive_rate,people_vaccinated,people_fully_vaccinated,total_boosters,population,population_density,extreme_poverty
0,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
1,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
2,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
3,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
4,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176216,Zimbabwe,2022-03-30,140.0,1.0,0.65,NaN,NaN,0.0642,5175175.0,3522062.0,505132.0,15092171.0,42.729,21.4
176217,Zimbabwe,2022-03-31,104.0,4.0,NaN,NaN,NaN,0.0575,5297081.0,3532708.0,539033.0,15092171.0,42.729,21.4
176218,Zimbabwe,2022-04-01,128.0,0.0,NaN,NaN,NaN,0.0423,5372837.0,3543725.0,564632.0,15092171.0,42.729,21.4
176219,Zimbabwe,2022-04-02,67.0,2.0,NaN,NaN,NaN,NaN,5455680.0,3553083.0,591761.0,15092171.0,42.729,21.4
176220,Zimbabwe,2022-04-03,44.0,0.0,NaN,NaN,NaN,NaN,5517779.0,3561400.0,615286.0,15092171.0,42.729,21.4

In [4]:
# Grouping BU into Region
# APJ = ["Afghanistan","Australia","Bangladesh","Bhutan","Brunei","Cambodia","China","Cook Islands","Fiji","Hong Kong","India","Indonesia","Japan","Kiribati","Laos","Malaysia","Maldives","Mongolia","Myanmar","Nauru","Nepal","New Zealand","Pakistan","Palau","Papua New Guinea","Philippines","Samoa","Singapore","Solomon Islands","South Korea","Sri Lanka","Taiwan","Thailand","Timor","Tonga","Tuvalu","Vanuatu","Vietnam"]
# AMER = ["Argentina","Brazil","Canada","Chile","Colombia","Mexico","Peru","United States","Venezuela"]
# EMEA = ["Armenia","Austria","Belarus","Belgium","Czechia","Denmark","Finland","France","Germany","Greece","Hungary","Ireland","Italy","Kazakhstan","Kyrgyzstan","Luxembourg","Moldova","Netherlands","Norway","Poland","Portugal","Russia","Slovakia","South Africa","Spain","Sweden","Switzerland","Tajikistan","Turkey","United Kingdom"]

In [5]:
region = []

for row in df['location']:
    if row == 'Afghanistan':region.append('APJ') #APJ 1
    elif row == 'Australia':region.append('APJ') # APJ 2
    elif row == 'Bangladesh':region.append('APJ') # APJ 3
    elif row == 'Bhutan':region.append('APJ') #APJ 4
    elif row == 'Brunei':region.append('APJ') #APJ 5
    elif row == 'Cambodia':region.append('APJ') #APJ 6
    elif row == 'China':region.append('APJ') #APJ 7
    elif row == 'Cook Islands':region.append('APJ') #APJ 8
    elif row == 'Fiji':region.append('APJ') #APJ 9
    elif row == 'Hong Kong':region.append('APJ') #APJ 10
    elif row == 'India':region.append('APJ') #APJ 11
    elif row == 'Indonesia':region.append('APJ') #APJ 12
    elif row == 'Japan':region.append('APJ') #APJ 13
    elif row == 'Kiribati':region.append('APJ') #APJ 14
    elif row == 'Laos':region.append('APJ') #APJ 15
    elif row == 'Malaysia':region.append('APJ') #APJ 16
    elif row == 'Maldives':region.append('APJ') #APJ 17
    elif row == 'Mongolia':region.append('APJ') #APJ 18
    elif row == 'Myanmar':region.append('APJ') #APJ 19
    elif row == 'Nauru':region.append('APJ') #APJ 20
    elif row == 'Nepal':region.append('APJ') #APJ 21
    elif row == 'New Zealand':region.append('APJ') #APJ 22
    elif row == 'Pakistan':region.append('APJ') #APJ 23
    elif row == 'Palau':region.append('APJ') #APJ 24
    elif row == 'Papua New Guinea':region.append('APJ') #APJ 25
    elif row == 'Philippines':region.append('APJ') #APJ 26
    elif row == 'Samoa':region.append('APJ') #APJ 27
    elif row == 'Singapore':region.append('APJ') #APJ 28
    elif row == 'Solomon Islands':region.append('APJ') #APJ 29
    elif row == 'South Korea':region.append('APJ') #APJ 30
    elif row == 'Sri Lanka':region.append('APJ') #APJ 31
    elif row == 'Taiwan':region.append('APJ') #APJ 32
    elif row == 'Thailand':region.append('APJ') #APJ 33
    elif row == 'Timor':region.append('APJ') #APJ 34
    elif row == 'Tonga':region.append('APJ') #APJ 35
    elif row == 'Tuvalu':region.append('APJ') #APJ 36
    elif row == 'Vanuatu':region.append('APJ') #APJ 37
    elif row == 'Vietnam':region.append('APJ') #APJ 38
    elif row == 'Argentina':region.append('AMER') #AMER 1
    elif row == 'Brazil':region.append('AMER') #AMER 2
    elif row == 'Canada':region.append('AMER') #AMER 3
    elif row == 'Chile':region.append('AMER') #AMER 4
    elif row == 'Colombia':region.append('AMER') #AMER 5
    elif row == 'Mexico':region.append('AMER') #AMER 6
    elif row == 'Peru':region.append('AMER') #AMER 7
    elif row == 'United States':region.append('AMER') #AMER 8
    elif row == 'Venezuela':region.append('AMER') #AMER 9
    else: region.append('EMEA')
    

df['Region'] = region
first_column = df.pop('Region')
df.insert(0, 'Region', first_column)
df

,Region,location,date,new_cases,new_deaths,reproduction_rate,icu_patients,hosp_patients,positive_rate,people_vaccinated,people_fully_vaccinated,total_boosters,population,population_density,extreme_poverty
0,APJ,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
1,APJ,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
2,APJ,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
3,APJ,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
4,APJ,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,54.422,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176216,EMEA,Zimbabwe,2022-03-30,140.0,1.0,0.65,NaN,NaN,0.0642,5175175.0,3522062.0,505132.0,15092171.0,42.729,21.4
176217,EMEA,Zimbabwe,2022-03-31,104.0,4.0,NaN,NaN,NaN,0.0575,5297081.0,3532708.0,539033.0,15092171.0,42.729,21.4
176218,EMEA,Zimbabwe,2022-04-01,128.0,0.0,NaN,NaN,NaN,0.0423,5372837.0,3543725.0,564632.0,15092171.0,42.729,21.4
176219,EMEA,Zimbabwe,2022-04-02,67.0,2.0,NaN,NaN,NaN,NaN,5455680.0,3553083.0,591761.0,15092171.0,42.729,21.4
176220,EMEA,Zimbabwe,2022-04-03,44.0,0.0,NaN,NaN,NaN,NaN,5517779.0,3561400.0,615286.0,15092171.0,42.729,21.4

In [6]:
# Removing unnecessary rows
df = df[df.location.isin(removedRows) == False]

# Replacing null value to zero
df = df.replace(np.nan, 0)

#Removing 0 value rows
df = df.loc[(df == 0).any(axis=1)]

In [7]:
# Converting Date column into Datetime format
from datetime import datetime
df['date'] = pd.to_datetime(df['date'])

# Renaming column name
df.rename(columns = {'location':'Location', 'date':'Year'}, inplace = True)

In [8]:
df.head(5)

,Region,Location,Year,new_cases,new_deaths,reproduction_rate,icu_patients,hosp_patients,positive_rate,people_vaccinated,people_fully_vaccinated,total_boosters,population,population_density,extreme_poverty
0,APJ,Afghanistan,2020-02-24,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,54.422,0.0
1,APJ,Afghanistan,2020-02-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,54.422,0.0
2,APJ,Afghanistan,2020-02-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,54.422,0.0
3,APJ,Afghanistan,2020-02-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,54.422,0.0
4,APJ,Afghanistan,2020-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,54.422,0.0

In [9]:
# Grouping columns by Location & Year
#groupDeath = df.groupby([(df.location),(df.date.dt.year)])["new_cases"].sum()
groupCase = df.groupby([(df.Region),(df.Location),(df.Year.dt.year)]).agg(
    New_Cases = ('new_cases','sum'),
    New_Deaths = ('new_deaths','sum'),
    Reproduction_Rate = ('reproduction_rate','sum'),
    ICU_Patients = ('icu_patients','sum'),
    Hosp_Patients = ('hosp_patients','sum'),
    Positive_Rate = ('positive_rate','sum'),
    People_Vaccinated = ('people_vaccinated','sum'),
    People_Fully_Vaccinated = ('people_fully_vaccinated','sum'),
    Total_Boosters = ('total_boosters','sum'),
    Population = ('population','sum'),
    Population_Density = ('population_density','sum'),
    Extreme_Poverty = ('extreme_poverty','sum'),).reset_index()

In [10]:
groupCase

,Region,Location,Year,New_Cases,New_Deaths,Reproduction_Rate,ICU_Patients,Hosp_Patients,Positive_Rate,People_Vaccinated,People_Fully_Vaccinated,Total_Boosters,Population,Population_Density,Extreme_Poverty
0,AMER,Argentina,2020,1625514.0,43245.0,332.87,538765.0,0.0,82.7040,1.044510e+05,2.500000e+01,0.000000e+00,1.669173e+10,5920.782,219.6
1,AMER,Argentina,2021,4028894.0,73924.0,376.57,1205691.0,0.0,51.3790,6.627305e+09,3.967056e+09,1.589080e+08,1.664613e+10,5904.605,219.0
2,AMER,Argentina,2022,3386716.0,10896.0,78.11,147818.0,0.0,25.4160,3.750840e+09,3.328696e+09,1.371994e+09,4.241342e+09,1504.461,55.8
3,AMER,Brazil,2020,7700828.0,195072.0,355.62,0.0,0.0,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,6.633797e+10,7762.400,1054.0
4,AMER,Brazil,2021,14485929.0,424262.0,358.28,0.0,0.0,0.0000,2.883348e+10,1.747277e+10,1.138936e+09,7.810761e+10,9139.600,1241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,EMEA,United Kingdom,2021,5298304.0,63055.0,274.37,313674.0,2607998.0,7.0602,9.037648e+09,5.563209e+09,0.000000e+00,1.855234e+10,74228.256,54.4
231,EMEA,United Kingdom,2022,729341.0,2137.0,20.85,6819.0,275851.0,1.0649,9.466556e+08,8.810806e+08,6.859695e+08,1.500557e+09,6003.756,4.4
232,EMEA,United States Virgin Islands,2020,0.0,0.0,0.00,0.0,0.0,12.3970,0.000000e+00,0.000000e+00,0.000000e+00,2.949369e+07,86733.840,0.0
233,EMEA,United States Virgin Islands,2021,0.0,0.0,0.00,0.0,0.0,28.3130,0.000000e+00,0.000000e+00,0.000000e+00,3.803957e+07,111865.200,0.0
234,EMEA,United States Virgin Islands,2022,0.0,0.0,0.00,0.0,0.0,14.0130,0.000000e+00,0.000000e+00,0.000000e+00,9.379620e+06,27583.200,0.0

In [1]:
X = groupCase['Year']
y = groupCase['New_Cases']
plt.xlabel('Year')
plt.ylabel('New Cases')
plt.bar(X,y, color=['#89CFF0'])
plt.show()

NameError: name 'groupCase' is not defined

In [12]:
# CSV file
groupCase = pd.DataFrame(groupCase)
groupCase.to_csv('data/groupbyCases.csv',index=False)